<div class="container">
  <h1>Handless Dice</h1>

  <div id="left-column">
    <div id="key-section" class="medium-padding medium-solid-black-border">
      <h3 class="underlined">Key</h3>
      <p><strong>Standard: </strong> Roll any dice (+/- a constant) and display the result</p>
      <p><strong>10-again(NYI): </strong> Reroll (recursively) any dice that roll 10 and display the rolls and a count of rolls greater than or equal to 8</p>
      <p><strong>9-again(NYI): </strong> Reroll (recursively) any dice that roll 9 and display the rolls and a count of rolls greater than or equal to 8</p>
      <p><strong>8-again(NYI): </strong> Reroll (recursively) any dice that roll 8 and display the rolls and a count of rolls greater than or equal to 8</p>
      <p><strong>Chance Die(NYI): </strong> Enter 'c' in the dice code box to roll 1d10 using World of Darkness chance dice roll rules.</p>
    </div>


    <div id="input-section" class="medium-padding medium-solid-black-border">
      <form action="/roll" method="POST" id="roll_form">
        <div id="roll-type-section">
          <input type="radio" name="roll_type" value="standard" tabIndex="-1"checked>
          <span class="padded-8px"><strong>Standard</strong></span>

          <input type="radio" name="roll_type" value="10_again" tabIndex="-1">
          <span class="padded-8px"><strong>10-again(NYI)</strong></span>

          <input type="radio" name="roll_type" value="9_again" tabIndex="-1">
          <span class="padded-8px"><strong>9-again(NYI)</strong></span>

          <input type="radio" name="roll_type" value="8_again" tabIndex="-1">
          <span class="padded-8px"><strong>8-again(NYI)</strong></span>
        </div>
        <br>
        <div class="medium-padding light-black-border">
          Dice Code: <input type="text" name="dice_box" id="dice-box" tabIndex="-1">
          <input type="submit" value="Roll!" tabIndex="-1">
        </div>
      </form>
    </div>

  </div>

  <div id="right-column" class="medium-solid-black-border medium-padding">

    <div id="results-section">
      <h2><label for="results-label">Roll History</label></h2><br>
      <!-- <textarea rows="15" cols="50" id="roll-results-history" readonly  tabIndex="-1"></textarea> -->
      <iframe id="roll-results-history" width="400" src="/results_frame">
      </iframe>
    </div>

  </div>

</div>
